/* styles.css */

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 4000px;
    font-family: Arial, sans-serif;
}

.fixed-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    background-color: transparent; /* Start with a transparent background */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.5s ease;
}

.navbar.scrolled {
    background-color: white; /* Change to white when scrolled */
}

.dropdown {
    margin-left: 50px;
}

.dropdown {
    margin-left: 50px; /* 50px margin from the left edge */
}

.dropdown .fa-bars {
    color: white; /* Original color */
    font-size: 25px;
    cursor: pointer;
    transition: color 0.5s ease;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }

  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

.navbar.scrolled .dropdown .fa-bars {
    color: #f1db00; /* Color when scrolled */
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo img {
    height: 80px;
    transition: transform 0.5s ease;
}

.sign-in {
    margin-right: 50px; /* 50px margin from the right edge */
}

.sign-in button {
    background-color: white; /* Original background color */
    color: black; /* Original text color */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.5s ease, color 0.5s ease; /* Transition effect */
}

.navbar.scrolled .sign-in button {
    background-color: #fffcda; /* Background color when scrolled */
    color: #f1db00; /* Text color when scrolled */
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 60px);
    z-index: -1;
    background-size: cover;
    aspect-ratio: 16 / 9;
    transition: background 0.5s ease;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    position: absolute;
    bottom: 90px;
    color: white;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.button-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 95vh; /* Directly below the background */
    z-index: 999;
    margin: 0;
    
}

.button-bar button {
    background-color: white;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-style: italic;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 4px;
}

.button-khampha:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: orange;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 35%;
    transform: translateX(-35%);
}

.button-khampha:hover::after {
    width: 9%; /* Adjust the width to make it a short underline */
}

.button-blog:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: orange;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 46%;
    transform: translateX(-45%);
}

.button-blog:hover::after {
    width: 6%; /* Adjust the width to make it a short underline */
}

.button-videos:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: orange;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 55%;
    transform: translateX(-50%);
}

.button-videos:hover::after {
    width: 6%; /* Adjust the width to make it a short underline */
}

.button-podcast:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: orange;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 64%;
    transform: translateX(-50%);
}

.button-podcast:hover::after {
    width: 8%; /* Adjust the width to make it a short underline */
}


.navigation-dots {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dot {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #717171;
}


.title {
    text-align: center;
    margin-top: 40px; /* Space 40px below the button bar */
    position: relative;
    top: calc(100vh + 20px); /* Position below button bar */
    width: 100%;
}

.title p {
    font-size: 65px; /* Adjust font size as needed */
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color:#fce449; /* Change color if needed */

}


.page-content {
    position: relative;
    top: 18.5%; /* Position it below the title */
    text-align: center;
}

.image-container {
    display: inline-block;
    position: relative;
    margin: 0 20px;
}

.image-container img {
    width: 350px; /* Adjust the width as needed */
    height: auto;
    border-radius: 15px;
    filter: grayscale(20%) blur(1px);
    transition: filter 0.3s ease;
}

.image-container img:hover {
    filter: none; /* Remove filter on hover */
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-shadow: 1px 1px 15px black;
    pointer-events: none; /* Ensures text doesn't interfere with hover */
    text-align: center;
}

.subtitle {
    text-align: center;
    margin-top: 20px; /* Space 20px below the images */
}

.subtitle p {
    font-size: 65px; /* Adjust font size as needed */
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #fce449; /* Change color if needed */
    margin-bottom: 20px;
}

.story {
    display: flex;
    justify-content: space-around; /* Add space between the story containers */
    flex-wrap: wrap; /* Ensure the layout is responsive */
    padding: 0 30px;
}

.story-container {
    flex: 1;
    margin: 10px; /* Add margin between story containers */
    max-width: 30%; /* Ensure three items per row, adjust as needed */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    text-align: left; /* Left-align text for better readability */
}

.story-container img {
    width: 100%;
    height: 260px; /* Set a fixed height */
    object-fit: cover; /* Ensure the image covers the entire frame */
    display: block; /* Remove any inline spacing */
    border-radius: 15px;
}

.story-container h3, .story-container p {
    margin: 10px 0; /* Add some margin for spacing */
}

.pink-section {
    margin-top: 30px;
    height: 500px;
    width: 100%;
    background-color: burlywood; /* Set background color to light pink */
    display: flex; /* Use flexbox to align content */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
}

.pink-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%; /* Set a max width for the content */
    max-width: 1200px; /* Optional: limit max-width for better appearance on large screens */
    height: 100%; /* Make sure it takes full height of the section */
}

.pink-image {
    height: 80%; /* Set the height of the image to be smaller than the section */
    width: auto; /* Maintain aspect ratio */
    max-width: 50%; /* Ensure it only takes up to 50% of the width */
    object-fit: contain; /* Ensure the image fits within the given area */
}


.pink-text {
    width: 50%; /* Ensure the text takes up the other half of the section */
    padding-left: 60px; /* Add some padding to the left for spacing */
    text-align: left;
}

.pink-subtitle {
    font-size: 24px; /* Adjust font size as needed */
    margin-bottom: 10px; /* Add some margin below the subtitle */
}

.pink-text p {
    margin: 0; /* Reset margin for paragraphs */
}

.video {
    display: flex;
    justify-content: space-around; /* Add space between the story containers */
    flex-wrap: wrap; /* Ensure the layout is responsive */
    padding: 0 30px;
    margin-top: 50px;
}

.video-container {
    flex: 1;
    margin: 10px; /* Add margin between story containers */
    max-width: 30%; /* Ensure three items per row, adjust as needed */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    text-align: left; /* Left-align text for better readability */
    position: relative;
    display: inline-block;
}

.video-container img {
    width: 100%;
    height: 260px; /* Set a fixed height */
    object-fit: cover; /* Ensure the image covers the entire frame */
    display: block; /* Remove any inline spacing */
    border-radius: 15px;
}

.video-container h3, .video-container p {
    margin: 10px 0; /* Add some margin for spacing */
}

.fa-circle-play {
    position: absolute; /* Position the icon absolutely within the container */
    top: 35%; /* Center the icon vertically */
    left: 50%; /* Center the icon horizontally */
    transform: translate(-50%, -50%); /* Adjust for the icon's dimensions */
    font-size: 50px; /* Adjust the size of the play icon */
    color: white; /* Set the color of the play icon */
    pointer-events: none; /* Ensure the icon does not interfere with clicking the image link */
}

.button-more {
    border-style: none;
    background-color: #fffcda;
    color: #f1db00;
    padding: 10px 100px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    margin: 30px;
}

.footer-container {
    position: relative;
    width: 100%;
}

.footer-image {
    width: 100%;
    text-align: center;
    margin-bottom: -50px; /* Adjust this value based on the overlap you want */
}

.footer-image img {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
}

.media-button {
    font-size: 35px;
    color: white;
    text-align: center;
    z-index: 100;
    position: relative;
    top: 270px;
}

.media-button a, a:hover, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}

.footer {
    margin-top: 50px;
    background-color: #28282B; /* Set the footer background color to gray */
    padding: 80px 20px; /* Adjust padding as needed */
    text-align: center; /* Center-align text */
    position: relative; /* Ensure footer content is positioned correctly */
    z-index: 1; /* Ensure footer content appears above the image if necessary */
    color: white; /* Set the text color to white for contrast */
}

.footer-logo {
    max-width: 400px; /* Adjust the logo size as needed */
    margin-bottom: 40px; /* Add space below the logo */
}

.footer p {
    margin: 5px 0; /* Adjust margins for the text */
}
